
html, body{
    background-image: linear-gradient(45deg, #ea5a6f,  #de791e, #fccf3a);
    color:whitesmoke;
    font-family: 'Varela Round', sans-serif;
    min-height:100%;
}

.thumbnail img {
    width: 100%; 
}
.thumbnail{
     padding: 0;
}
.thumbnail .caption-full{
    padding: 90px; 
}

#forma .imena, #forma button{
    display: block;
    margin: 0 auto;
    width: 60%;
    padding:7px;
    font-size: 1.2em;
    border: white solid 1px;
    margin-top:1%;
    background-color: #88294D;
    color:whitesmoke;

}
#forma2 .imena2, #forma2 div{
    display: block;
    margin: 0 auto;
    width: 80%;
    padding:7px;
    font-size: 1.2em;
    border: white solid 1px;
    margin-top:4px;
    background-color: #88294D;
    color:whitesmoke;

}
#dugme1{
    display: block;
    margin: 0 auto;
    width: 20%;
    padding:7px;
    font-size: 1.2em;
    border: white solid 1px;
    margin-top:4px;
    color:whitesmoke;
    background-color: #E7625A;


}
#dugme1 a{
    color:whitesmoke;
}

#forma h1{
    text-align: center;
    text-transform: uppercase;
    color:whitesmoke;
}
#forma2 h1{
    text-align: center;
    text-transform: uppercase;
    color:whitesmoke;
}
#forma{
    width:90%;
    margin: 0 auto;
    padding: 3%;
    height: 80%;
}
#forma2{
    width:90%;
    margin: 0 auto;
    padding: 3%;
    height: 80%;
}
.container-fluid {
        background-color:#88294D;
        color:red;
        border:none;
}
li ~ a{
    color:whitesmoke;
}
.navbar-default .navbar-nav>li>a{
    color:whitesmoke;
}
.navbar-default .navbar-brand{
    color:whitesmoke;
}
nav#traka.navbar.navbar-default{
    border:0;
}
::placeholder{
    color:whitesmoke;
}

#plavi {
    background-color:#88294D;
}

#dugme2{
    display: block;
    margin: 0 auto;
    width: 30%;
    padding:7px;
    font-size: 1.2em;
    border: white solid 1px;
    color:whitesmoke;
    background-color:#88294D;
    margin-bottom: 11%;


}
#dugme2:hover{
    background-color: #E7625A;
}
#dugme2 a{
    color:whitesmoke;
}
#dugme2 a:hover{
    text-decoration: none;
}

.container {
    background-color: #88294d;
    margin-bottom: 1%;
}
#container__forma {
    padding:10px;
}
a #strana .btn .btn-danger {
    margin-left: 200 ;
}
label {
    margin: 0 auto; 
    display:block;
    text-align: center;
    margin-top:2%;
}
#forma2 .imena2 {
    margin: 0 auto;
    font-size: 1.2em;
    border: white solid 1px;
    background-color: #88294D;
    color:whitesmoke;
    display: block;
    float: none;
    width: 50%; 
}
#forma2  input[type=submit]{
    margin-bottom: 1%;
    margin-top: 1%;
}
#forma2{
    width: 100%;
}
#rezultati{
    
}
